<html>
  <head>
    <title>This is the title of the ABOUT page</title>
  </head>
  <body bgcolor="#698698">
    <H1>This is going to be the ABOUT page.</H1>
    <br>
    <H2>This is what it is all about</H2>

    <%= link_to 'home', root_path %>
  </body>
</html>
