<html>
  <head>
    <title>This is the title of the HOME page</title>
  </head>
  <body bgcolor="#868686">
    <H1>This is going to be known as the home page</H1>
    <br>
    <H2>Home is where the heart is</H2>

    <%= link_to 'about', about_path %>
  </body>
</html>
